*{
    text-align: center;
}
.container{
    margin-top: 1%;
}
.cnt{
    width: 50%;
    margin: 0 auto;
}
p{
    text-align: center;
}
.cont{
    text-align: left;
}
.cdt{
    text-align: left;
}
#cmt{
    text-align: left;
}
#btnsub{
    width: auto;
    margin: 0 auto;
    float: center;
}
footer{
    margin-top: 2%;
}